body {
  background: #F1F3F6;
  font-family: 'Montserrat', sans-serif;
  a {
    text-decoration: none!important;
  }

}

.card {
  border: 0px;
}

.auth {
  label {
    float: left;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.0168em;
    /* font grey */
    color: rgba(34, 33, 91, 0.6);
  }
  .authstory{
    color: #3F2668;
  }
}

.authtext {
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -21.62%;

  font-size: 34px;
  line-height: 130%;
  /* identical to box height, or 44px */

  display: flex;
  align-items: center;

  /* Primary purple */
  font-weight: 800;
  color: $primary;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.tria {

  font-size: 11px;
  font-weight: bold;
  color: $primary;
}

.authspace {
  margin-top: 15%;
  margin-bottom: 10%;
}
.invalid-feedback, .errormessage {
  text-align: left;
  font-size: 10px;
  color: red;
}
.dashboard {
  width: 100vw;
  height: 100vh;
  .sidebar{
    width: 20%;
    height: 100%;
    background-color: white;
    position: fixed;
    padding-left: 50px;
    &--logo {
      margin-bottom: 20px;
    }
    &--navigation {
      padding-top: 5px;
      padding-bottom: 5px;
      &--container {
        display: block;
        height: 60px;
        background: $body-color;
        // margin-top: 5px;
        margin-bottom: 15px;
        padding-top: 16px;
        padding-left: 8px;
        border-right: 3px solid $primary;
        &--icons {
          display: inline;
          width: 20%;
          margin-right: 0px;
          .b-icon {
            margin: 0px;
          }
        }
        &--link {
          display: inline;
          // width: 60%;
        }
      }
    }
  }
  .mainscreen {
    width: 80%;
    height: 100%;
  }
}


