body {
  background: #F1F3F6;
  font-family: 'Montserrat', sans-serif;
  cursor: default;
  a {
    text-decoration: none!important;
  }

}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;         /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #F15027;  /* creates padding around scroll thumb */
}


.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 5px;         /* width of the entire scrollbar */
}
.sidebar::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #F15027;  /* creates padding around scroll thumb */
}


.card {
  border: 0px;
}

.auth {
  label {
    float: left;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.0168em;
    /* font grey */
    color: rgba(34, 33, 91, 0.6);
  }
  .authstory{
    color: #3F2668;
  }
}

.authtext {
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -21.62%;

  font-size: 34px;
  line-height: 130%;
  /* identical to box height, or 44px */

  display: flex;
  align-items: center;

  /* Primary purple */
  font-weight: 800;
  color: $primary;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.tria {

  font-size: 11px;
  font-weight: bold;
  color: $primary;
}

.authspace {
  margin-top: 15%;
  margin-bottom: 10%;
}
.invalid-feedback, .errormessage {
  text-align: left;
  font-size: 10px;
  color: red;
}
.dashboard {
  width: 100vw;
  height: 100vh;
  .sidebar{
    width: 20vw;
    height: 100%;
    background-color: white;
    position: fixed;
    overflow-y: scroll;
    padding-left: 50px;
    margin-bottom: 10px;
    &--logo {
      margin-bottom: 20px;
    }
    &--navigation {
      margin-top: 60px;
      padding-top: 5px;
      padding-bottom: 5px;
      &--container:hover {
        font-weight: bold;
        background: $body-color;
        border-right: 3px solid $primary;
        z-index: 2px;
      }
      &--container:active {
        font-weight: bold;
        background: $body-color;
        border-right: 3px solid $primary;
        z-index: 2px;
      }
      &--container {
        display: block;
        height: 60px;
        cursor: default;
        margin-bottom: 15px;
        padding-top: 16px;
        padding-left: 8px;
        &--icons {
          display: inline;
          width: 20%;
          margin-right: 0px;
          .b-icon {
            margin: 0px;
          }
        }
        &--link {
          display: inline;
          // width: 60%;
        }
      }
    }
    &--sidebarquick{
      margin-top: 14vh;
      margin-right: 80px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 9px;
      height: 200px;
      width: 200px;
      background: #F5F5FB;
      border-radius: 12px;
      .quick-box {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(34, 33, 91, 0.6);
        margin-top: 36px;
      }
      .quick-button {
        margin-top: 42px;
      }
    }
  }
}


.page_label {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px
}

.page_label_cardbox {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  font-weight: 600;
}

.navbar {
  padding: 0px;
  height: 64px;
  background-color: inherit;
  border-bottom: 1px solid #E0E0E0;
}

.bi-bell-fill{
  vertical-align: -0.15em!important;
}

.nav-drop{
  display: inline;
  margin-left: 3px;
  .dropdown-menu {
    top: 90%!important;
    right: 0px!important;
    left: -40px!important;
    min-width: 7rem!important;
  }
}


.mainscreen {
  width: 80vw;
  height: 100vh;
  // padding: 10px;
  margin-left: 20%;
  height: 100vh;
  /* margin-right: 10px; */
  position: fixed;
  color: #3F2668;
  overflow-y: scroll;
  .maincontent{
    margin-top: 2vh;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    .container {
      margin: 0px;
    }
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    // max-width:
    max-width: 100%;
    // max-width: 1192px;
  }
}

.cardbox{
  height: 300px;
  // background: #3F2668;
  &--img{
    height: 35%;
    background: #3F2668;
    // background: url('./AWS_careers.jpg') no-repeat fixed center;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--content {
    // margin-top: 35%;
    height: 65%;
    background: white;
    &--textcontent {
      height: 72px;
      // width: 328px;
      padding-left: 4px;
      padding-right: 4px;
      overflow: hidden;
    }
    &--final{
      /* yellow - transparent */
      background: rgba(247, 189, 1, 0.2);
      /* yellow */
      border: 2px solid #F7BD01;
      box-sizing: border-box;
      border-radius: 10px;
    }
    &--success{
      background: #F5F5FB;
      border-radius: 10px
    }
  }
}
