body {
  background: #F1F3F6;
  font-family: 'Montserrat', sans-serif;
  a {
    text-decoration: none!important;
  }

}

.card {
  border: 0px;
}

.auth {
  label {
    float: left;
    font-family: Gilroy-Regular;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 0.0168em;
    /* font grey */
    color: rgba(34, 33, 91, 0.6);
  }
  .authstory{
    color: $primary;
  }
}

.authtext {
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -21.62%;

  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 130%;
  /* identical to box height, or 44px */

  display: flex;
  align-items: center;

  /* Primary purple */
  font-weight: 800;
  color: $primary;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.tria {

  font-size: 11px;
  font-weight: bold;
  color: $primary;
}
